*{
    padding: 0;
    margin: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.flex{
    display: flex;
}
html {
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #8DBDFF, #FFEB85);
    font-family: 'Roboto', sans-serif;
}

nav, header{
    padding: 2rem;
    align-items: center;
}

main{
    
    padding: 2rem;
}
footer{
    padding: 2rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

}
h1{
    font-family: 'Audiowide', cursive;
    font-size: 7.2rem;
    background-color: #F3EC78;
    background-image: linear-gradient(135deg, #FFD729, #FA7900, #E71E02, #ED1C24);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
ul{
    list-style-type: none;
    margin-left: auto;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.4rem;
    font-size: 2rem;
    font-weight: bold;
}
li{
    padding: 0.6rem;
}

.nav-home-btn {
    padding: 1.5rem 2.5rem;
    font-size: 2.4rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #FFEB85;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.7rem 0.2rem #808080,
    inset 0 0 0.7rem #808080;
    text-decoration: none;
    margin-right: auto;
  }
  .btn{
    padding: 1.5rem 2.5rem;
    font-size: 2.4rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #FFEB85;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.7rem 0.2rem #808080,
    inset 0 0 0.7rem #808080;
    text-decoration: none;
  }
  
  .nav-home-btn:hover {background-color: #FFDE39}
  .nav-home-btn:active {
    background-color: #FFDE39;
    box-shadow: 0 0.2rem 0.3rem #5A5A5A,
    inset 0 0 0.7rem #808080;
    transform: translateY(0.5rem);
  }


/* Game */

#cloud-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.cloud-wrapper {
    width: 80%;
    margin: 0 auto;
    height: 70vh;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    margin-bottom: 2rem;
    background: url("../assets/images/Background-Game1.png") no-repeat center center;
    background-size: cover;
}

.cloud-img{
    width: 15rem;
    margin-top: 1rem;
}

/* Phone */

#iphone{
    width: 18rem;
    margin-bottom: 4rem;
}

/*  Footer */

footer {
    background-color: #5A5A5A;
    color: #fcfcef;

}

footer p {
    float: left;
    margin-top: 1rem;

}

.github-logo{
    font-size: 4rem;
    color: #fcfcef;
}

.github-logo:hover {
    color: #FFEB85;
}



/* Home page*/

.home-header{
    margin: 0 auto;
}
.button-container{
    flex-direction: column;
    margin-right: auto;
    margin-left: 35rem;
    margin-top: 16rem;
    
}
section{
    flex-direction: row;
    margin-top: 10rem;
}
.button-container > a{
    margin-bottom: 6rem;
    
}

/* Hero img*/

.hero-img{
    margin-right: 10rem;
    border-radius: 0.6rem;
    border: 2px solid black;
    box-shadow: 0.3rem 0.3rem #5A5A5A, 
    -0.3rem -0.3rem #5A5A5A;
}