*{
    padding: 0;
    margin: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.flex{
    display: flex;
}
html {
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #8DBDFF, #FFEB85);
    font-family: 'Roboto', sans-serif;
}

button{
    font-family: 'Roboto', sans-serif;
}

nav, header{
    padding: 2rem;
    align-items: center;
}

main{
    
    padding: 2rem;
}

h1{
    font-family: 'Audiowide', cursive;
    font-size: 7.2rem;
    background-color: #F3EC78;
    background-image: linear-gradient(135deg, #FFD729, #FA7900, #E71E02, #ED1C24);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
ul{
    list-style-type: none;
    margin-left: auto;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.4rem;
    font-size: 2rem;
    font-weight: bold;
}

.game-stats{
    margin-left: auto;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.4rem;
    font-size: 2rem;
    font-weight: bold;
}
li{
    padding: 0.6rem;
}

.nav-home-btn {
    padding: 1.5rem 2.5rem;
    font-size: 2.4rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #FFEB85;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.7rem 0.2rem #808080,
    inset 0 0 0.7rem #808080;
    text-decoration: none;
    margin-right: auto;
    margin-left: 10rem;
  }
  .btn{
    padding: 1.5rem 2.5rem;
    font-size: 2.4rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #FFEB85;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.7rem 0.2rem #808080,
    inset 0 0 0.7rem #808080;
    text-decoration: none;
  }

  .btn:hover {
    background-color: #FFDE39;
    text-decoration: none;
}
  .btn:active {
    background-color: #FFDE39;
    box-shadow: 0 0.2rem 0.3rem #5A5A5A,
    inset 0 0 0.7rem #808080;
    text-decoration: none;
    transform: translateY(0.5rem);
  }
  
  .nav-home-btn:hover {
    background-color: #FFDE39;
    text-decoration: none;
    color: black;
}
  .nav-home-btn:active {
    background-color: #FFDE39;
    box-shadow: 0 0.2rem 0.3rem #5A5A5A,
    inset 0 0 0.7rem #808080;
    transform: translateY(0.5rem);
  }

  #falling-heart-logo{
    margin-left: 6rem;
  }
  #falling-heart-logo > img{
    width: 8rem;

}
.falling-heart {
    margin-top: -3rem;
    padding-left: 1rem;
    width: 4.5rem;
}


/* Game */

#cloud-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.cloud-wrapper {
    width: 80%;
    margin: 0 auto;
    height: 80vh;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    margin-bottom: 2rem;
    background: url("../images/Background-Game1.png");
    background-position: center;
    background-size: auto 100%;
    animation: slide 120s linear infinite;
}

/* emojis */
.emoji {
    margin: 2em;
    height: auto;
    width: 50px;
    position: absolute;
    overflow: hidden;
    }


@keyframes slide {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -1920px 0;
    }
  }

#iphone{
    position: absolute;
    bottom: 1%;
    width: 15%;
    margin-bottom: 1rem;
}
.github-logo{
    font-size: 2rem;
}
.cloud-img{
    width: 14rem;
    margin-top: 1rem;
}

#ci-1 {
    transform: translate(18px, 45px);
}

#ci-2 {
    transform: translate(38px, -5px);
}

#ci-3 {
    transform: translate(-8px, 25px);
}

#ci-4 {
    transform: translate(21px, 62px);
}

/* Instructions Modal */

.instructions-modal{
    display: none;
    backdrop-filter: blur(1rem);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}
.instructions-container{
    background-color: #fff3b8;
    width: 50%;
    margin: 0 auto;
    min-height: 50%;
    text-align: center;
    padding: 3rem;
    margin-top: 3.6rem;
    border-radius: 0.8rem;
}
ol{
    text-align: left;
    margin-top: 6rem;
    padding: 2rem;    
    margin-bottom: 10rem;
}
#close-instructions{
    background-color: #8DBDFF;
}
#close-instructions:hover{
    background-color: #5a9fff;
}
#instructions-header{
    font-size: 5rem;
}
#instructions-list{
    font-size: 2rem;
}

/*  Footer */

footer {
    background-color: #5A5A5A;
    color: #fcfcef;
    padding: 2rem;
    width: 100%;
    text-align: center;
}

.home-footer{    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    float: left;
    margin-top: 1rem;
}

.github-logo{
    font-size: 4rem;
    color: #fcfcef;
}

.github-logo:hover {
    color: #FFEB85;
}

/* Home page*/

.home-header{
    margin: 0 auto;
}
.button-container{
    flex-direction: column;
    margin-right: auto;
    margin-left: 35rem;
    margin-top: 16rem;
    
}
section{
    flex-direction: row;
    margin-top: 10rem;
}
.button-container > a{
    margin-bottom: 6rem;
    
}

/* Hero img*/

.hero-img{
    margin-right: 10rem;
    border-radius: 0.6rem;
    border: 2px solid black;
    box-shadow: 0.3rem 0.3rem #5A5A5A, 
    -0.3rem -0.3rem #5A5A5A;
}

#start, #reset {
        padding: 1.5rem 2.5rem;
        font-size: 2.4rem;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: black;
        background-color: #FFEB85;
        border: none;
        border-radius: 1rem;
        box-shadow: 0 0.7rem 0.2rem #808080,
        inset 0 0 0.7rem #808080;
        text-decoration: none;
        margin-right: auto;
        margin-left: 10rem;
      }

